body
{
    background-color: darkgray;
    font-family:tahoma;
    padding-top: 25px;
    padding-left: 25px;
}
table, th, td
{
    border: 1px solid;
    border-collapse: collapse;
    text-align: center;
}
th, td {
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    padding-right: 15px;
}

.button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

label {
    display:inline-block;
}
